@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-serif;
  @apply text-gray-700;
}

nav {
  @apply font-sans;
}

h2 {
  @apply font-sans;
  @apply text-3xl;
  @apply font-semibold;
  @apply text-gray-800;
}
